* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  line-height: 40px;
  padding: 20px;
  text-align: center;
}

.js-submit {
  width: 80px;
  height: 20px;
  background-color: lightslategray;
  color: aliceblue;
}

.hidden {
  display: none;
}

.results-img {
  width: 450px;
  border: 2px solid black;
}

